    <h1>Quién quiere muchos partes? Tú!</h1>
    <h2><em>muchosPartes. Los partes mejor...ahorita!</em></h2>
<p>Login</p>
    <div class="form-group">
		<form action="login.php" method="POST" id="login">
		<label for="email">Email</label>
  		<input type="text" class="form-control" name="email" value="Correo electrónico"><br>
  		<label for="password">Contraseña</label>
  		<input type="text" class="form-control" name="password" value="Contraseña"><br>
  		</form>
  		
		<button type="submit" form="login" class="btn btn-lg btn-success" value="Login">Siguiente</button> 
		<button type="submit" form="login" class="btn btn-lg btn-success" value="Register">Registro</button><br>
		<button type="submit" form="login" class="btn btn-lg btn-success" value="Guest">Visita</button>
	</div>