<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MuchosPartes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <!-- Not used, extra link
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stock Actions <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<li title="View Parts"><a href="muchosPartes.php?index=3">Ver Suministros</a></li>
          <!-- Stock Manager Access -->
            <li title="Restock Parts"><a href="#">Reponer Suministros</a></li>
          <!-- Engineer Access -->
            <li title="Update Part Data"><a href="#">Actualizar Suministros</a></li>
            <li title="Create Assembly"><a href="#">Cree Suministros</a></li>
            <li title="Modify Assembly"><a href="#">Modify Assembly</a></li>
          <!-- Admin Access -->
            <li title="Add Warehouse"><a href="#">Poner Almacén</a></li>
            <li title="Delete Parts"><a href="#">Delete Parts</a></li>
            <li title="Update Stock - Any Warehouse"><a href="#">Update Stock - Any Warehouse</a></li>
            <!-- Not used, extra link
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
            -->
          </ul>
        </li>
      </ul>
      
      
      <form class="navbar-form navbar-left" role="search" method="get" action="muchosPartes.php?index=4&PartID=">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-default">Siguiente</button>
      </form>
      
      
      		<ul class="nav navbar-nav navbar-right">
            <!-- Not used, extra separated link
        	<li><a href="#">Link</a></li>
			-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Options <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <!-- Guest Access -->
<?php if (isset($user)) 
{
	echo '<li><a href="/php/logout.php">Log Out</a></li>', htmlspecialchars($user->handle(), $user->id());
}
else
{
	echo '<li><a href="login.php">Log In</a></li>';
}
?>
            <li role="separator" class="divider"></li>
          <!-- Stock Mgr / Engineer Access -->
            <li><a href="#">Change Password</a></li> <!-- Redacted access for non-admin -->
            <li><a href="#">User Profile Data</a></li>
            <li><a href="#">User Inquiry</a></li>
            <li><a href="#">User Directory</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>