<p>Register</p>
  	<div class="form-group">
		<form action="login.php" method="POST" id="login">
		<p>Registrar una nueva cuenta</p>
		<label for="firstName">Nombre de Pila</label>
  		<input type="text" class="form-control" name="firstName" value="Nombre de Pila"><br>
  		<label for="lastName">Apellido</label>
  		<input type="text" class="form-control" name="lastName" value="Apellido"><br>
  		<label for="email">Email</label>
  		<input type="text" class="form-control" name="email" value="Email"><br>
  		<label for="password">Contraseña</label>
  		<input type="text" class="form-control" name="password" value="Contraseña"><br>
  		<input type="radio" name="role" value="abastecedor"> Abastecedor<br>
  		<input type="radio" name="role" value="ingeniero"> Ingeniero<br>
  		<input type="radio" name="role" value="admin"> Administrador<br>
	</div>
  		</form>
  		
<button type="submit" form="login" class="btn btn-lg btn-success" value="Register">Registro</button>