<p>Reset Password</p>
  <h1>Cambiar la Contraseña</h1>
    <div class="form-group">
		<form action="reset.php" method="POST" id="reset">
		<p>Registrar una nueva cuenta</p>
		<label for="password">Contraseña Vieja</label>
  		<input type="text" class="form-control" name="password" value="oldPassword"><br>
  		<label for="reset">Contraseña Nueva</label>
  		<input type="text" class="form-control" name="lastName" value="newPassword"><br>
  		<label for="check">Otra Vez</label>
  		<input type="text" class="form-control" name="email" value="reType"><br>
<button type="submit" form="login" class="btn btn-lg btn-success" value="change">Cambiar</button>
	</div>