<div class="container">
  <h2>Directorio de Almacénes</h2>
  <p>La siguiente información es propietaria y protegidos por el derecho internacional. Visualización de la información está implícito el consentimiento a la política de la empresa.</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Número de Almacén</th>
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>Estado</th>
        <th>Código de Zip</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>726</td>
        <td>1060 West Addisson</td>
        <td>Chicago</td>
        <td>Illinois</td>
        <td>60631</td>
        <td>Loading Dock 6</td>
      </tr>
      <tr>
        <td>2</td>
        <td>1060 West Addisson</td>
        <td>Chicago</td>
        <td>Illinois</td>
        <td>60631</td>
        <td>Offload Bay 12</td>
      </tr>
      <tr>
        <td>39</td>
        <td>1060 West Addisson</td>
        <td>Chicago</td>
        <td>Illinois</td>
        <td>60631</td>
        <td>Stock Control Center</td>
      </tr>
    </tbody>
  </table>
  <p>Crear Nuevo Almacén</p>
    <div class="form-group">
		<form action="addWarehouse.php" method="POST" id="addWarehouse">
		<label for="streetAddress">Dirección</label>
  		<input type="text" class="form-control" name="streetAddress" value="streetAddress"><br>
		<label for="city">Ciudad</label>
  		<input type="text" class="form-control" name="city" value="city"><br>
		<label for="state">Estado</label>
  		<input type="text" class="form-control" name="state" value="state"><br>
		<label for="zip">Código de Zip</label>
  		<input type="text" class="form-control" name="email" value="zip"><br>
  		<label for="wname">Nombre del Almacén</label>
  		<input type="text" class="form-control" name="wname" value="wname"><br>
  		</form>
  		
		<button type="submit" form="login" class="btn btn-lg btn-success" value="Login">Siguiente</button> 
		<button type="submit" form="login" class="btn btn-lg btn-success" value="Register">Registro</button>
</div>
