<div class="container">
  <h2>Directorio de Usuarios</h2>
  <p>La siguiente información es información de identificación personal. Viendo que implica el consentimiento a la política de privacidad.</p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Nombre de Pila</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Warehouse</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Juan</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>Loading Dock 3</td>
      </tr>
      <tr>
        <td>Maria</td>
        <td>Moe</td>
        <td>maria@example.com</td>
        <td>Offload Bay 12</td>
      </tr>
      <tr>
        <td>Julio</td>
        <td>Dooley</td>
        <td>julio@example.com</td>
        <td>Stock Control Center</td>
      </tr>
    </tbody>
  </table>
    <h1>Actualizar Una Cuenta de Usuario</h1>
  <h2>Edit User</h2>
    <div class="form-group">
		<form action="updateUser.php" method="POST" id="updateUser">
		<label for="userID">NIU</label>
  		<input type="text" class="form-control" name="userID" value="userID"><br>		
		<label for="firstName">Nombre de Pila</label>
  		<input type="text" class="form-control" name="firstName" value="Nombre de Pila"><br>
  		<label for="lastName">Apellido</label>
  		<input type="text" class="form-control" name="lastName" value="Apellido"><br>
  		<label for="email">Email</label>
  		<input type="text" class="form-control" name="email" value="Email"><br>
  		<label for="password">Contraseña</label>
  		<input type="text" class="form-control" name="password" value="Contraseña"><br>
  		<input type="radio" name="role" value="abastecedor"> Abastecedor<br>
  		<input type="radio" name="role" value="ingeniero"> Ingeniero<br>
  		<input type="radio" name="role" value="admin"> Administrador<br>
  		<button type="submit" form="login" class="btn btn-lg btn-warning" value="update">Actualizar</button>
	</div>
</div>
